<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @user.email %>!</h1>
    <p>Enjoy your <%= @prize.html %> Fireside Provisions </p>
    <p>Coupon code is <%= @prize.coupon %></p>
  </body>
</html>