/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 */

html {	weight: 100%; height: 100%; position: relative;}
body {	letter-spacing: 2px; font-family: "proxima-nova-extra-condensed", sans-serif; font-style: normal; height: 100%; width: 100%; overflow-x: hidden;}
.desktop.table {	display: table;}
.table.device {	display: none;}
#home body {	overflow: hidden;}
img {	max-width: 100%;}
body * {  box-sizing: border-box;}
*:focus { border: 0;  outline:none;}
.orange {	color: #ff4f2c;}
#home {	text-align: center; }


#home .main-cont {	background: url('new-bg.jpg') no-repeat; background-size: cover;  background-position: 33% 100%; position: relative; padding: 0 5% 210px; color: black; }
#home .main-cont h3 {	font-size: 40px; margin: 5px auto 10px;  color: #ff4f2c;}
#home .main-cont h2 {	font-size: 52px;  text-transform: uppercase; margin: 20px auto; max-width: 1000px ; line-height: 50px }
#home .main-cont p {	font-size: 20px; text-transform: uppercase; margin: 15px auto 0; max-width:  650px;}
#home .main-cont .ski {	margin-top: 50px;}

#home .main-cont header  { display: table; width: 100%; margin: 0 auto;}
#home .main-cont header .image, #home .main-cont header .share {	display: table-cell; vertical-align: middle; width: 50%; text-align: left; padding: 10px 0;}
#home .main-cont header .share {	text-align: right;}
#home .main-cont header .share .social-links {	text-align: right; max-width: none;}

#home .signup-cont:before {content: "";position: absolute;width: 0;height: 0;border-width: 10px;border-style: solid;border-color: transparent transparent #ff4f2c transparent;top: -20px;left: 50%; transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); }
#home .signup-cont {	background:#ff4f2c ; padding: 40px 20px; position: relative;}
#home .signup-cont p {	color: white; font-size: 24px; display: inline-block; margin-right: 20px; text-transform: uppercase;}
#home .signup-cont form {	display: inline-block;}
.mobile.white {	display: none;}

#home .table {	width: 100%; color: black; }
#home .table-row {	display: table-row;}
#home .table-cell {	display: table-cell; width: 50%; vertical-align: middle; padding: 100px 50px;}
#home hr {	width: 50px; height: 4px; border: 0; background-color: #ff4f2c;}
#home .price {	color: #ff4f2c; text-transform: uppercase; font-size: 20px;}
#home .table-cell p {	margin: 20px auto; font-size: 20px;}
#home .table-cell a {	text-decoration: none; color: #ff4f2c;}
#home .table-cell h2 {	margin: 15px auto 30px;font-size: 25px; text-transform: uppercase; font-weight: 600;}
#home .table-cell li {	list-style: none; font-size: 20px;}
#home .table-row.grand .image {	background: url('first-pic.jpg') no-repeat; background-size: cover;   position: relative; background-position: 50% 50%}
#home .table-row.second .image {	background: url('new-prizes_second.jpg') no-repeat; background-size: cover;   position: relative; background-position: 50% 50%}
#home .table-row.third .image {	background: url('new-prizes_third.jpg') no-repeat; background-size: cover;   position: relative; background-position: 50% 50%}

#home .partners {	padding: 45px 0 0;color: black; background-color: #f4f4f4;}
#home .partners li {	display: inline-block; padding: 30px; vertical-align: middle; width: 30%; max-width: 330px;}
#home .partners h3 {	font-size: 25px; text-transform: uppercase;}

.tagline.mobile {	display: none;}

input[type="text"] {	padding :10px 15px 10px;font-size: 20px; color: rgb(82, 82, 82);appearance: none; -webkit-appearance: none; -moz-appearance: none; border: 0; border-radius: 0; margin-right: -5px; width: 64%;}
input[type="submit"] {	appearance: none; -webkit-appearance: none; -moz-appearance: none; background-color: black; border-radius: 0; border: 0; padding :10px 45px 10px;font-size: 20px; color : white; text-transform: uppercase; border-radius: 0; cursor: pointer; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease;}
input[type="submit"]:hover {	background-color: #464646;}

.footer {	background: #f4f4f4; text-align: center; padding: 50px 0;}
#home .footer .share {	text-align: center; margin: 20px auto 35px;}
#home .footer .share p {	font-size: 24px; margin-bottom: 10px;color: black;}
#home .footer p {	display: block; color: #aeaeae; font-size: 18px;}
#home .footer .share .social-links {	margin: 0 auto;}

.main-cont {}

#refer {	background: url('refer-bg.jpg') no-repeat; background-size: cover;   color: black; text-align: center; background-position: 50% 50%;}
#refer .refer {	position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);  width: 100%; padding: 50px 0;}
#refer img {	margin-bottom: 30px;}
#refer h3 {	font-size: 30px; text-transform: uppercase;}
#refer h2 {	font-size: 50px; text-transform: uppercase;}
#refer p {	max-width: 500px; margin: 0 auto;}


.referral-link {	color: rgb(95, 95, 95);font-family: 'proxima-nova'; font-style: normal;  font-size: 18px; background: white; border-radius: 5px; padding :15px; max-width: 600px; width: 100%; margin: 10px auto 45px; text-align: left;  position: relative;}
.referral-link span {	position: relative; word-wrap: break-word;}

.social-links {	  text-align: center;width: 100%;max-width: 500px; margin: 30px auto;}
#home header .social-links a {	height: 30px; width: 30px; margin-right: 5px;}
#home header .social-links i { font-size: 18px;  }
.social-links a {	margin-right: 10px; width: 46px; height: 46px; display: inline-block; vertical-align: top; position: relative; border-radius: 5px;}
.social-links a {	background: #ff4f2c; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease;}
.social-links a:hover {	background: black;}
.social-links i {	color: white;  font-size: 24px;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);}




/*TABLET*/
@media screen and (max-width:900px) {
	#home header {	width: 100%;}

	#home .table {	width: 100%; color: black; background-color: white;}
	#home .table-row {	display: block;}
	#home .table-cell {	display: block; width: 100%; vertical-align: middle; padding: 75px 50px;}
	.desktop.table {	display: none;}
	.device.table {	display: block;}
	#home .table-cell.image {	padding: 0; background: none !important;}
	#home .signup-cont p, #home .signup-cont form {	display: block; margin: 10px 0;}
	input[type="text"] {	width: 75%;}
	#home .main-cont p {	font-size: 20px;}
	#refer .refer {	padding: 50px 5%;}
}

/*PHONE*/
@media screen and (max-width:600px) {
	#home .main-cont header .image {	display: block; width: 100%;}
	#home .main-cont header .share {	display: none;}
	/*#home .main-cont h3 {	font-size: 12px;}*/
	#home .main-cont h2{	font-size: 36px; line-height: 32px}

	/*#home .main-cont p {	font-size: 14px;}*/

	form, form input,input[type="text"]  {	width: 100%; margin: 0;}
input[type="text"] {	margin-right: 0; margin-bottom: 10px;}

	#home .table-cell {	padding: 45px 20px;}
	#refer .refer {	position: relative; top: auto; left: auto; transform: none;}
	#home .partners li {	display: block; width: 100%; max-width: 250px; margin: 0 auto;}
}
